body {
  padding: 0;
  margin: 0;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.body {
  display: grid;
  height: 100vh;
  width: -webkit-fill-available;
  grid-template-columns: 1fr minmax(3fr, auto);
}
.body > * {
  padding: 1rem;
}
.sidenav {
  display: none;
}
.calculator {
  display: grid;
  padding: 0;
  grid-template-rows: 160px auto;
}
@media (min-width: 768px) {
  .body {
    grid-template-columns: 1fr 3fr;
  }
  .sidenav {
    display: grid;
  }
}
